<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>449718606907-7h3auqeee54433cdlmhf97ksedrv2d9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449718606907-7h3auqeee54433cdlmhf97ksedrv2d9u</string>
	<key>API_KEY</key>
	<string>AIzaSyAx8aSBeKHYYuP1tJwNQxzaTFue_r70bB8</string>
	<key>GCM_SENDER_ID</key>
	<string>449718606907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bf.securea</string>
	<key>PROJECT_ID</key>
	<string>app-security-gua-1511935306530</string>
	<key>STORAGE_BUCKET</key>
	<string>app-security-gua-1511935306530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449718606907:ios:a99aa6dbf7ef3f1f</string>
	<key>DATABASE_URL</key>
	<string>https://app-security-gua-1511935306530.firebaseio.com</string>
</dict>
</plist>